.mobileHeader {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 40px;
  padding-inline: 5vw;
  align-items: center;
}

@media only screen and (min-width:1490px) {
  .mobileHeader {
    display: none;
  }
}

.mobileNavList {
  flex: 40%;
  font-size: large;
  font-weight: 200;
}


.mobileLogo {
  flex: 20%;
  text-align: center;
}

.mobile-contact-us {
  flex: 40%;
  text-align: right;
}
.mobileCubtn {
  max-width: 150px;
  max-height: 50px;
  min-height: 30px;
  width: calc(80px + 1.35vw);
  height: calc(30px + 1.35vw);
  background: linear-gradient(249deg, #0093de, #3c6fae);
  color: white;
  font-family: "Gotham";
  font-size:  calc(11px+1.35vw);
  font-weight: 300;
  border-radius: 30px;
  border-style: hidden;
}

.mobileCubtn > a {
  color: white;
  text-decoration: none;
}

