
.partnersBackground {
  width: 645px;
  height: 95px;
  background-color: white;
  padding-inline-start: 138px;
  clip-path: polygon(95% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}

.partnersGroup {
  padding-top:35px;
  display: flex;

}

.partnersGroup > img {
  padding-inline-end: 35px;

}

@media (max-width:600px) {
  .partners {
    margin-top: 230px;
  }
  .partnersBackground {
    padding-inline: 5vw;
  }
  .partnersGroup > img {
    padding-inline-end: 10px;
    width: 16vw;
  
  }
}

@media (max-width:1300px) {
  .partners {
    margin-top: 230px;
  }

  .partnersGroup {
    padding-top:30px;
    display: flex;
  
  }

  .partnersBackground {
    padding-inline: 5vw;
  }

  .partnersGroup > img {
    padding-inline-end: 20px;
    width: 110px;
  
  }
}

@media (max-width:600px) {
  .partners {
    margin-top: 230px;
  }
  .partnersBackground {
    padding-inline: 5vw;
  }
  .partnersGroup > img {
    padding-inline-end: 10px;
    width: 16vw;
  
  }
}