.articles {
  margin-block: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articles>h1 {
  position: relative;
  text-align: center;
  font-size: 45px;
  letter-spacing: -2.02px;
  font-weight: 600;
}

.articles>h1>span {
  position: relative;
  z-index: 0;
}

.articles>h1>span>span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 25px;
  width: 102.5px;
  bottom: 2px;
  right: 0px;
  z-index: -1;
}

.articles>.posts {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.articles>.posts> .post {
margin-inline: 40px;
margin-bottom: 50px;
}


.articles>.posts>.edged {
  opacity: 0.4;
  ;
}

.articles>.kmbtn {
  box-shadow: none;
  margin-top: 55px;
  align-self: center;
}

.rightSection {
  position: absolute;
  right: 150px;
  top: 140px;

}