.blog_page > .page_content {
  margin-block: 170px;
  display: flex;
  margin-inline: 250px;
}

.blog_page > .page_content > .blog_left {
  flex: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 474px;
  height: 404px;
  background: transparent linear-gradient(334deg, #ffffff 0%, #effaff 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 20px 50px #0093de17;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

.post > img {
  width: 474px;
  height: 265px;
  object-fit: cover;
  object-position: 0% 0%;

  border-radius: 25px;

}

.post> .tag {
  position: absolute;
  background-color: #ff6b7e;
  padding-top: -110px;
  padding-inline: 11px;
  left: 17px;
  top: 19px;
  border-radius: 8px;
}

.post> .tag > h1 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10px;
  font-weight: 400;
  color: white;
}

.post> .date {
  color: #a2a2a2;
  font-size: 12px;
  font-weight: 400;
  margin-left: 40px;
  padding-top: 31px;
}

.post> .title {
  max-width: 264px;
  color: #2a2a2a;
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
  margin-left: 40px;
  padding-top: 10px;
}

.post> .caption {
  max-width: 394px;
  color: #a2a2a2;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 40px;
  padding-top: 10px;
}

.post> .post_footer {
  position: absolute;
  width: inherit ;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  justify-self: flex-end;
  bottom: 30px;
}

.post> .post_footer > div > .by {
  margin-top: 20px;
  color: #a2a2a2;
  font-size: 12px;
  margin-left: 40px;
  font-weight: 400;
}

.post> .post_footer > div > .auther {
  color: #2a2a2a;
  font-size: 12px;
  margin-left: 40px;
  font-weight: 500;
}

.post> .post_footer > .rmb {
  display: flex;
  align-items: center;
  padding-right: 40px;
  text-decoration: none;
}

.post> .post_footer > .rmb > .readmore {
  color: #027ab7;
  font-size: 14px;
  font-weight: 400;
  padding-right: 5px;
}

.post> .post_footer > .rmb > .arrow {
  width: 14px;
  height: 9px;
  padding-top: 2px;
}

.blog_page > .page_content > .blog_left > .edged {
  opacity: 0.4;
}

.blog_page > .page_content > .blog_left > .kmbtn {
  box-shadow: none;
  margin-top: 55px;
  align-self: center;
}

.blog_page > .page_content > .blog_right {
  flex: 30%;
}
.blog_page > .page_content > .blog_right > .search {
  position: relative;
  margin-inline-start: 78px;
}

.blog_page > .page_content > .blog_right > .search > input {
  width: 260px;
  height: 52px;
  border-radius: 99px;
  border-style: none;
  font-family: "Gotham";
  padding-inline-start: 20px;
  padding-inline-end: 50px;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.blog_page > .page_content > .blog_right > .search > input:focus {
  outline: none;
}

.blog_page > .page_content > .blog_right > .search > input::placeholder {
  color: #acacac;
}

.blog_page > .page_content > .blog_right > .search > .sbtn {
  position: absolute;
  width: 25px;
  right: 40px;
  top: 15px;
  opacity: 0.3;
}

.blog_page > .page_content > .blog_right > .categories {
  margin-top: 55px;
  margin-inline-start: 78px;
}

.blog_page > .page_content > .blog_right > .categories > .categories_title {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 600;
}

.blog_page > .page_content > .blog_right > .categories > .categories_list {
  margin-top: 40px;
}

.blog_page
  > .page_content
  > .blog_right
  > .categories
  > .categories_list
  > .category {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.blog_page
  > .page_content
  > .blog_right
  > .categories
  > .categories_list
  > .category
  > .category_name {
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 400;
  padding-inline-end: 10px;
}
.blog_page
  > .page_content
  > .blog_right
  > .categories
  > .categories_list
  > .category
  > .category_count {
  position: relative;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #0093de;
  font-size: 13px;
  font-weight: 400;
  margin-inline-start: 10px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}

.blog_page
  > .page_content
  > .blog_right
  > .categories
  > .categories_list
  > .category
  > .category_count
  > div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog_page > .page_content > .blog_right > .keywords {
  margin-top: 55px;
  margin-inline-start: 78px;
}

.blog_page > .page_content > .blog_right > .keywords > .keywords_title {
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 600;
}

.blog_page > .page_content > .blog_right > .keywords > .keywords_list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.blog_page
  > .page_content
  > .blog_right
  > .keywords
  > .keywords_list
  > .keyword {
  background-color: #e2eeff;
  margin-bottom: 8px;
  cursor: pointer;
  margin-inline-end: 10px;
  padding: 10px 15px;
  border-radius: 99px;
}

.blog_page
  > .page_content
  > .blog_right
  > .keywords
  > .keywords_list
  > .keyword
  > .keyword_name {
  color: #0034de;
  font-size: 14px;
  font-weight: 500;
}
