.hero {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 138px;
  padding-top: 100px;
  padding-bottom: 230px;
  align-items: center;
  position: relative;
}

.leftSection {
  display: flex;
  flex-direction: column;
}

.headline {
  font-weight: 800;
  font-size: 75px;
  color: #000000;
  max-width: 900px;
}

.headline > span {
  color: #0093de;
}

.marked1 {
  position: relative;
}

.marked2 {
  position: relative;
}

.mark1 {
  position: absolute;
  left: 0px;
  right: 0px;
}

.mark2 {
  position: absolute;
  top: 0px;
  left: 60px;
}

.smallParagraph {
  font-size: 18px;
  font-weight: 400;
  margin-top: -50px;
  color: #6d6d6d;
  line-height: 150%;
  max-width: 491px;
}

.smallParagraph > span {
  font-weight: 600;
  color: #0093de;
}


.kmbtn {
  width: 200px;
  height: 60px;
  background: linear-gradient(249deg, #0093de, #3c6fae);
  color: white;
  font-family: "Gotham";
  font-size: 19px;
  letter-spacing: -0.47px;
  font-weight: 300;
  border-radius: 50px;
  border-style: hidden;
  box-shadow: 10px 10px 35px #0093de80;
  margin-top: 30px;
  
}

.kmbtn > a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.kmbtn > a > p {
  margin-right: 10px;
}

.kmbtn > a > div {
  align-self: center;
  width: 25px;
  height: 16px;
  background: transparent
    url("../img/Icon ionic-ios-arrow-round-forward.png") 0% 0% no-repeat
    padding-box;
}

.rightSection {
  position: absolute;
  right: 150px;
  top: 140px;
  z-index: -1;
}
