.jobsTop {
  display: flex;
  padding-inline: 277px;
  align-items: center;
  background-image: radial-gradient(
    circle at 58% 35%,
    rgba(251, 237, 255, 20) 8%,
    rgba(255, 255, 255, 1) 18%,
    rgba(255, 255, 255, 1) 56%
  );
  border-radius: 0px 0px 180px 180px;
  padding-top: 100px;
  padding-bottom: 86px;
}

.jobs-right {
  height: 557px;
}
a {
  cursor: pointer;
}
.jobs-left > h1 {
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -2px;
  max-width: 303px;
}
.jobs-left > h1 > span {
  position: relative;
  z-index: 0;
}

.jobs-left > h1 > span > span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 20px;
  width: 102.5px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.jobs-left > .lp {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2a2a;
  max-width: 630px;
  margin-inline-end: 167px;
}

.jobs-left > button {
  margin-top: 30px;
}

.jobsPage> .sub_container .page {
  grid-column: 1/2;
}
.jobsPage> .sub_container {
  padding: 80px 400px;
}

.sub-right > {
  margin-inline: -90px;
}

.jobsPage > .sub_container > h1 {
  padding-top: 30px;
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.44px;
  margin-inline-end: 110px;
}
.jobsPage > .sub_container > h1 > span {
  position: relative;
  z-index: 0;
}

.jobsPage > .sub_container > h1 > span > span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 20px;
  width: 100px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.jobsPage > .sub_container > .lp {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2a2a;
  max-width: 940px;
}

 .jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.jobs > .job {
  display: flex;
  flex-direction: column;
  width: 434px;
  background: transparent linear-gradient(295deg, #ffffff 0%, #effaff 100%) 0%
    0% no-repeat padding-box;
  padding: 50px;
  box-shadow: -10px 10px 50px #0093de1a;
  border-radius: 50px 25px;
  margin-block-start: 52px;
  justify-content: space-around ;
}

.jobs > .job  > h1 {
  margin: 0;
  color: #2A2A2A;
  font-size: 24px;
  font-weight: 500;
}


.jobs > .job  > p {
  color: #5A5A5A;
  font-size: 16px;
  padding-bottom: 19px;
  font-weight: 400;
}


.jobs > .job > a{
  text-decoration: none;

}

.jobs > .job > a >.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 59px;
  background: linear-gradient(249deg, #0093de, #3c6fae);
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.45px;
  text-decoration: none;
}

.jobs > .job > a>.btn > img {
  width: 25px;
  height: 16px;
  padding-inline-start: 10px;
}
