.jobsTop {
  display: flex;
  padding-inline: 277px;
  align-items: center;
  background-image: radial-gradient(
    circle at 58% 35%,
    rgba(251, 237, 255, 20) 8%,
    rgba(255, 255, 255, 1) 18%,
    rgba(255, 255, 255, 1) 56%
  );
  border-radius: 0px 0px 180px 180px;
  animation: 0.4s ease-out 1;
  padding-top:100px;
  padding-bottom: 86px;
}

.jobs-right  {
  height: 557px;
}
a{
  cursor: pointer;
}
.jobs-left > h1 {
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -2px;
  max-width: 303px;
}
.jobs-left > h1 > span {
  position: relative;
  z-index: 0;
}

.jobs-left > h1 > span > span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 20px;
  width: 102.5px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.jobs-left > .lp {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2a2a;
  max-width: 630px;
  margin-inline-end: 167px;
}

.jobs-left > button {
  margin-top: 30px;
}

.sub_container .page {
  grid-column: 1/2;
}
.sub_container {
  padding: 80px 400px;

}

.sub-right > {
  margin-inline: -90px;
}

.jobsPage> .sub_container > h1 {
  padding-top: 30px;
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -1.44px;
  margin-inline-end: 110px;
}
.jobsPage> .sub_container> h1 > span  {
  position: relative;
  z-index: 0;
}

.jobsPage> .sub_container> h1 > span > span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 20px;
  width: 100px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

.jobsPage> .sub_container> .lp {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2a2a;
  max-width: 940px;
}


