
.partnersBackground {
  width: 645px;
  height: 95px;
  background-color: white;
  padding-inline-start: 138px;
  clip-path: polygon(95% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
}

.partnersGroup {
  padding-top:35px;
  display: flex;
  align-items: center;
}

.partnersGroup > div >img {
  height: 20px;
  width: 70px;
  padding-inline-end: 35px;
}
