@media (min-width: 1200px) {
  .drawer {
    display: none;
  }
  .mOnlyImg {
    display: none;
  }
}
/*App */
@media (max-width: 1199px) {
  .mOnlyImg {
    display: none;
  }

  .app {
    width: 820px;
  }

  .webinar_page {
    .page_content {
      padding: 45px;
      
      .webinarImgAndForm{
        flex-direction: column; 
        .webinarCoverImage{
          width: 820px;
          object-fit: cover;
          border-radius: 0;
       
      }
      .contactform {
        scale: 1 ;
      }
    }
    }
  }

  .outlet {
    padding-top: 50px;
  }

  .outlet > div > div > div {
    padding-inline: 45px;
  }

  .header {
    padding-top: 50px;
    scale: 0.9;
    width: 100%;
    transform-origin: top left;
    justify-content: center;
    align-items: center;
  }

  /*Header*/

  .header > .logo {
    text-align: left;
    scale: 1.5;
    transform-origin: top left;
    padding-left: 10px;
    display: block;
  }

  .sideMenutitle {
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
  }

  .header > .navList {
    display: none;
  }

  .header > .sideMenuBtn {
    display: block;
    text-align: left;
  }

  .sideMenuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sideMenuSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-block: 10px;
  }

  .mentis {
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 600;
  }
  .mentis > .mentihe {
    text-decoration: none;
    padding-bottom: 3px;
    font-size: 20px;
    font-weight: 600 !important;
  }
  .side_menu_item_main {
    text-decoration: none;
    font-family: "Gotham";
    color: "black";
    font-weight: 500;
    color: #027ab7;
  }
  .side_menu_item_link {
    text-decoration: none;
    * {
      text-decoration: none !important;
      font-family: "Gotham" !important;
      color: "black" !important;
      font-weight: 400 !important;
      color: #656565 !important;
      font-size: 14px !important;
    }
  }

  .sideMenuLogo {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 60px !important;
    padding-bottom: 40px !important;
  }
  .sideMenuLogo > img {
    width: 192px;
    padding: 0;
  }
  .MuiDrawer-paper {
    background: linear-gradient(135deg, white 0%, #f0f6ff 70%);
  }

  .drawer {
    padding-inline: 9px;
    font-family: "Gotham";
    padding-bottom: 8px;
    width: calc(100vw - 18px);
    height: 100%;

    * {
      font-family: "Gotham" !important;
    }

    .ListItemTextLight {
      span {
        color: #656565;
        font-size: 14px !important;
        font-weight: 400;
      }
    }

    .sideMenuLogo {
      padding-block: 60px;
      padding-inline: 15px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 141px;
      }
    }
  }
  .side_menu_item_text {
    color: black;
  }
  .ListItemTextBold {
    display: none;
  }
  /*Footer*/
  .subscribe {
    scale: 0.75;
    margin-bottom: -80px;
  }

  .subscribe > .subcard {
    width: none;
  }

  .subscribe > .subcard > .label {
    margin-top: 66px;
    margin-inline-start: 50px;
    color: #000000de;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }

  .subscribe > .subcard > .email {
    margin-inline-start: 30px;
    margin-inline-end: 45px;
  }

  .footer_logo {
    width: 134px;
  }

  .footer > .fourcols {
    padding-top: 125px;
    padding-inline: 45px;
    padding-bottom: 20px;
  }

  .cw {
    display: flex;
    padding: 30px 45px;
    justify-content: space-between;
  }

  /*Home Page*/

  .hero {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .hero > .leftSection {
    scale: 0.9;
    transform-origin: top left;
  }
  .hero > div > .rightSection {
    scale: 0.55;
    transform-origin: top right;
    margin: 130px -120px;
  }

  .partnersBackground {
    width: 100%;
    height: none;
    background-color: white;
    padding-inline-start: 0px;
  }

  .partnersGroup {
    padding-top: 35px;
  }
  .partnersGroup > img {
    padding-inline-end: 60px;
  }

  .about_section_bg > .about {
    padding: 0;
    margin: 0;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .about {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .about_section_bg > .about > .leftComp {
    display: flex;
    margin: 0;
    align-items: center;
    padding-inline: 45px;
  }

  .about_section_bg > .about > .rightComp {
    margin: 0;
    padding: 0;
    padding-inline: 45px;
    margin-top: 0px;
  }

  .rightComp > h1 {
    scale: 0.8;
    transform-origin: left bottom;
  }

  .rightComp > p {
    margin-top: -20px;
    font-size: 18px;
    line-height: 26px;
  }

  .about_section_bg > .about > .leftComp > img {
    width: 110px;
    margin: 0;
  }
  .about_section_bg > .about > .leftComp > p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-block: 50px;
  }

  .maskImage {
    position: relative;
    background: transparent linear-gradient(311deg, #ffffff 0%, #effaff 100%) 0%
      0% no-repeat padding-box;
    box-shadow: -10px 10px 50px #0093de1a;
    border-radius: 50px 25px;
    margin-inline: -6.5px;
    height: 228px;
    width: 562px;
    margin: 9px;
  }

  .maskImage > .back {
    position: absolute;
    bottom: 0;
  }
  .maskImage > .ico {
    margin-top: 30px;
    margin-left: 30px;
  }
  .maskImage > p {
    color: #2a2a2a;
    max-width: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-inline: 30px;
  }
  .scope > .cards {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 0;
    justify-content: center;
  }

  .scope > .cards > .card {
    margin: 20px;
  }

  .scope > .cards > div:nth-child(2) {
    margin-top: 20px;
  }

  .ecommerce {
    justify-content: center;
    align-items: center;
    padding: 45px;
  }

  .ecommerce-left > img {
    width: 400px;
  }

  .ecommerce-right > h1 {
    margin: 0;
  }

  .ecommerce-right > .sp {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #656565;
  }

  .ecommerce-right > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
  }

  .ecommerce-right > button {
    margin-top: 0;
  }

  .epayment {
    justify-content: center;
    align-items: center;
    padding: 45px;
  }

  .epayment-right {
    padding: 0;
  }

  .epayment-right > img {
    width: 400px;
  }

  .epayment-left {
    padding: 0;
  }

  .epayment-left > h1 {
    margin: 0;
  }

  .epayment-left > .sp {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #656565;
  }

  .epayment-left > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
  }

  .epayment-left > button {
    margin-top: 0;
  }

  .articles {
    scale: 1;
    margin-block: 0px;
    padding: 0;
  }

  .articles > .post > .post {
    scale: 0.5;
    margin: -100%;
  }

  .articles > div {
    padding: 0 !important;
  }

  .articles > .posts {
    margin-top: 20px;
  }

  /* Contact Us */

  .cupbg > .page_header {
    padding-bottom: 0;
  }

  .formandinfo {
    display: flex;
    margin-inline: 0px;
  }

  .contactform {
    padding-inline: 77px;
    padding-inline: 20px;
    scale: 0.9;
    transform-origin: bottom;
    height: none;
    height: 600px;
  }

  .contactform > .head {
    position: relative;
    padding-bottom: 0;
  }
  .map {
    bottom: -220px;
    left: -350px;
    width: 1250px;
    z-index: -1;
  }

  .info > .contact {
    padding-block: 15px;
    align-items: center;
  }

  .cupage {
    margin-bottom: 120px;
  }

  .formandinfo > .info {
    padding: 0;
  }

  .info > .contact img {
    height: 60px;
    width: 60px;
  }

  /* Stakeholders */

  .stakeholders {
    padding-inline: 0px;
    padding-block: 10px;
  }

  .stakeholders-right > img {
    margin-top: 50px;
    width: 350px;
    padding-bottom: 100px;
  }

  .stakeholders-left > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 365px;
    margin-inline-end: 16px;
    padding-bottom: 100px;
  }
  .sub_container {
    margin-bottom: 50px;
  }
  .sub {
    margin: 0;
  }
  .sub-left {
    margin: 0px;
  }

  .sub-right > img {
    margin: -50px;
    width: 450px;
  }

  /* Our Partners */

  .ourPartners {
    padding-inline: 0px;
    padding-block: 10px;
    justify-content: center;
  }
  .ourPartners-left {
    padding: 0 !important;
  }

  .ourPartners-right {
    padding: 0 !important;
  }
  .ourPartners-right > img {
    margin-top: 50px;
    width: 350px;
    padding-bottom: 100px;
  }

  .ourPartners-left > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 365px;
    margin-inline-end: 16px;
    padding-bottom: 100px;
  }
  .sub_container {
    margin-bottom: 50px;
  }
  .sub {
    margin: 0;
  }
  .sub-left {
    margin: 20px;
  }

  .sub-right > img {
    margin: -50px;
    width: 450px;
  }

  /* Successful Cases */

  .ss_page > .page_content {
    margin-block: 0 !important;
    .page_subtitle {
      margin-top: 0px !important;
    }
  }

  .cases > div {
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .case_image {
    object-fit: cover;
    width: 230px;
    height: 230px;
  }
  .case_info {
    padding: 0;
    padding-inline: 20px;
    max-width: 420px;
  }
  /* Press And Blog */

  .blog_page {
    margin-top: 20px;
  }

  .blog_page > .page_content {
    margin-top: 50px;
    flex-direction: column-reverse;
    margin-inline: 0px;
  }

  .blog_page > .page_content > .blog_right > .search > .sbtn {
    right: 80px;
  }

  .blog_page > .page_content > .blog_right > .search > input {
    width: 80%;
  }
  .blog_page > .page_content > .blog_left {
    flex: none;
    justify-content: center;
    margin-block: -150px;
    padding-block: 40%;
  }

  /* No Page */

  .noPage {
    padding-top: 60px;
    margin-bottom: -30px;
    width: 820px;
  }

  /* Webinars */

  .webinars_page > .page_content {
    padding-inline: 45px;
  }
  .webinars_page > .page_content > .page_subtitle {
    margin-top: 100px;
  }
  .webinars_page > .page_content > .page_subtitle > div {
    font-size: 30px;
  }

  .webinars_container {
    justify-content: center;
    align-items: center;
    padding-block: 75px;
    padding-inline: 0px;
    margin-inline: -45px;
    padding-inline: 45px;
  }

  /* Ebook*/

  .ebook_page > .formandinfo {
    flex-direction: column-reverse;
    margin-inline: 0;
  }

  .ebook_img {
    width: 570px;
    height: 395px;
    padding-inline-start: 45px;
    padding-bottom: 60px;
  }

  .ebook_bg > .page_header {
    padding-bottom: 60px;
  }

  /* Jobs */

  .jobsTop {
    justify-content: center;
    align-items: flex-start;
  }
  .jobs-left {
    padding: 0 !important;
  }

  .jobs-left > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 450px;
    margin-inline-end: 70px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .jobs-right {
    padding: 0;
  }
  .jobs-right > img {
    width: 350px;
  }

  .sub_container {
    margin-bottom: 50px;
  }
  .sub {
    margin: 0;
  }
  .sub-left {
    margin: 20px;
  }

  .sub-right > img {
    margin: -50px;
    width: 450px;
  }

  .jobsPage > .sub_container {
    margin: 0;
    padding: 20px 45px;
  }

  .jobsPage > .sub_container > .jobs {
    align-items: center;
    justify-content: center;
  }

  /* Soluition */

  .solution {
    margin-block: 70px;
    margin-inline: 0px;
  }

  .solution_title_and_desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .solution_desc {
    margin-inline-start: 0px;
    margin-block-start: 20px;
    text-align: center;
  }

  .solution_subs {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-inline: 0px;
  }

  .border {
    margin: 25px;
  }

  .solution_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 183px;
    height: 179px;
    background-color: #f0f6ff;
    border-radius: 60px 20px;
  }

  /* Service */
  .service {
    padding-inline: 0;
  }
  .service_hero {
    justify-content: center;
    align-items: flex-start;
  }
  .service-left {
    padding: 0 !important;
  }

  .service-left > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 450px;
    margin-inline-end: 70px;
    padding-bottom: 0px;
    margin-bottom: 0;
  }

  .service-right {
    padding: 0;
  }
  .service-right > img {
    width: 350px;
    margin-top: 125px;
  }

  .sub_container_osd > .sub > div > img {
    margin-inline-start: 10px !important;
  }
  .sub_container_osd > .sub_inverted > div > img {
    margin-inline-end: 10px;
  }

  /* Outsourcing */

  .outsourcing_sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block-start: 170px;
    padding-inline: 78px;
  }

  /* Business Type */

  .business_type_hero {
    display: flex;
    margin-inline: 64px;
  }

  .business_type_hero > h1 {
    max-width: 803px;
  }

  .business_type_hero > div > .lp {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 630px;
    margin-inline-end: 0px;
  }

  .business_type_hero > div > .sp {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #2a2a2a;
    max-width: 630px;
    margin-inline-end: 0px;
  }

  .terms_and_privacy {
    padding: 80px 0 0px 0;
  }

  /* Marketing Strategy */

  .strategyDraw {
    transform-origin: left;
    scale: 0.6;
    margin-bottom: -150px;
    margin-left: -150px;
  }
}

@media (max-width: 767px) {
  .dOnly {
    display: none;
  }
  .mOnlyImg {
    display: block;
    width: 100%;
  }
  .app {
    width: 375px;
  }
  .homebg {
    background: linear-gradient(157deg, white 0%, #f0f6ff 2%, #f1f1ff 3%);
  }
  .noResults {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 500px;
  }
  .jobPage {
    margin: 0;
    .page_content {
      margin-top: 10px;
      .page_content {
        padding-inline: 0 !important;
      }
      .webinar_back {
        padding-bottom: 0;
      }
    }
    .lmbtn {
      margin-left: 80px;
    }
  }
  .webinarImgAndForm{
    flex-direction: column; 
    scale: 1 !important;
    margin-top: -40px !important;

    .webinarCoverImage{
      width: 325px !important;
      object-fit: cover;
      margin-bottom: 30px;
  }
  .contactform {
    scale: 0.65 !important  ;
    transform-origin: top;
  }
}

  .internshipsList {
    div {
      .anbtn {
        scale: 0.85;
      }
    }
  }

  .singleBT {
    .first_section {
      h1 {
        span {
          line-height: 22px;
        }
      }
    }
    .last_section {
      padding: 0 !important;
      padding-bottom: 50px !important;
      .sub_inverted {
        padding: 0;
        .sub-left {
          padding: 0 !important ;
        }
      }
    }
  }

  .media_header {
    h1 {
      margin: 25px;
      font-size: 24px;
    }
  }
  .outsourcing_sections {
    padding: 25px !important;
    h1 {
      span {
        font-size: 24px;
        line-height: 28px;
        span {
          height: 15px;
          width: 50px;
        }
      }
    }
    .cards {
      .card {
        scale: 0.9;
      }
    }
  }
  .strategyDraw {
    display: none;
  }

  .msCards {
    .msCard {
      width: 325px !important;
      padding: 30px !important;
      h1 {
        margin-top: 0px !important;
        line-height: 34px !important;
      }
    }
  }
  .noPage {
    width: 100%;
  }
  .solution_title_and_desc {
    padding-inline: 25px !important;
    .solution_title {
      span {
        font-size: 32px;
        span {
          height: 20px;
          width: 70px;
        }
      }
    }
  }

  .header {
    padding-top: 30px;
    width: 343px;
    scale: 1;
    padding-inline: 16px;
    align-items: center;
    justify-content: space-between;
    .sideMenuBtn {
      width: 32px;
      height: 32px;
      padding: 0;
      margin: 0;
      button {
        width: 32px !important;
        height: 32px !important;
        padding: 0;
        font-size: unset;
        svg {
          width: 24px;
        }
      }
    }
    .logo {
      scale: 1;
      display: flex;
      flex: none;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin-left: 5px;
      .logo-img {
        margin: 0;
        margin-bottom: -4px;
        scale: 1;
        width: 141px;
      }
    }

    .cubtn {
      scale: 0.9;
      width: 90px;
      height: 35px;
      font-size: 12px;
      font-weight: 200;
      a {
        padding: 0;
      }
    }
  }
  .page_subtitle {
    margin-top: 50px !important;
    div {
      font-size: 24px !important;
      line-height: 34px !important;
    }
  }
  .webinars_container {
    margin-top: 0 !important;
    span {
      font-size: 24px !important;
      letter-spacing: -0.5px !important;
      span {
        width: 30% !important;
        height: 50% !important;
        bottom: 0 !important;
      }
    }
  }
  .page_subtitle {
    margin-block: 50px !important;
  }
  .cases {
    .case,
    .case_inverted {
      flex-direction: column !important;
      .imageContainer {
        width: 375px;
        margin-inline: -25px;
      }
      .case_info {
        width: 100%;
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 50px;
        .case_btn {
          scale: 0.75;
          transform-origin: left;
          margin: 0;
        }
        .case_title {
          font-size: 36px;
          line-height: 40px;
        }
      }
    }
  }
  .ebook_page {
    padding-inline: 25px !important;
    .formandinfo {
      .ebook_title {
        padding-top: 50px;
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: -1px;
        .ebook_version {
          display: none;
        }
      }
      .ebook_subtitle {
        font-size: 14px;
        line-height: 20px;
      }
      .ebook_img {
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
    .contactform {
      justify-content: center;
      height: 400px;
      scale: 1;
      border: 0;
      width: calc(100% - 48px);
      padding: 24px;
      .head {
        h1 {
          margin: 0;
          line-height: 28px !important;

          span {
            font-size: 22px !important;
            line-height: 28px !important;
            span {
              width: 50px;
              height: 13px;
              line-height: 28px !important;
            }
          }
        }
      }
      .sbtn {
        scale: 0.8;
        transform-origin: left;
        margin-bottom: 0 !important;
      }
    }
  }
  .blogImage {
    width: 325px;
    height: 325px;

    margin-left: 0px;
  }
  .bosta {
    padding-inline: 25px;
    margin-bottom: 0;
  }

  .last_section {
    flex-direction: column !important;
    padding-top: 0 !important;
    .last_section {
      padding: 0 !important;
    }
  }
  .jobsTop {
    flex-direction: column;
    padding: 0;
    padding-inline: 25px !important;
    border-radius: 0px 0px 80px 80px;
    .jobs-left {
      h1 {
        padding: 0;
        scale: 0.5;
        transform-origin: left top;
        margin-bottom: -40px;
      }
      .lp {
        font-size: 14px;
        line-height: 20px;
      }
      .lmbtn {
        scale: 0.85;
        transform-origin: left bottom;
        margin-bottom: 50px;
      }
    }
    .jobs-right {
      margin-bottom: -100px;
      img {
        width: calc(100%);
      }
    }
  }

  .sub_container {
    h1 {
      scale: 0.75;
      transform-origin: left;
    }
    padding: unset !important;
    padding-inline: 25px !important;
  }

  .intern-left {
    h1 {
      width: 200% !important;
    }
  }

  .internshipsThird {
    padding: 0 !important;
    padding-inline: 25px !important;
    padding-bottom: 50px !important;
    div {
      h1 {
        scale: 0.8;
      }
    }
  }
  .internshipsForm {
    max-width: 100%;
    .MuiFormControl-root {
      width: 325px !important;
    }
  }
  .media_tabs {
    scale: 0.75;
    transform-origin: bottom;
  }
  .jobs {
    margin-bottom: 100px;
  }
  .webinar_page {
    .page_content {
      padding-top: 30px;
      * {
        padding-top: 0px;
      }
      .webinar_title {
        font-size: 32px;
        line-height: normal;
      }
      .webinarImgAndForm {
        margin-block: -175px;
        scale: 0.7;
        flex-direction: column;
        img {
          width: 140%;
        }
        .contactform {
          div {
            .MuiFormControl-root {
              * {
                font-size: 20px;
              }
            }
          }
          .sbtn {
            div {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .service {
    padding: 0px !important;
    padding-inline: 25px !important;
    border-radius: 0px 0px 80px 80px;
    .service_hero {
      flex-direction: column;
      .service-left {
        margin-bottom: 50px;
        position: relative;
        span {
          font-size: 22px;
          span {
            width: 55px;
            height: 15px;
            right: -5px;
          }
        }
        .lp {
          font-size: 14px;
          line-height: 20px;
          margin-inline: 0;
        }
        .lmbtn {
          scale: 0.75;
          transform-origin: left;
        }
      }
      .service-right {
        img {
          margin-top: 50px;
          width: 93%;
        }
      }
    }
  }
  .lmbtn {
    width: 170px;
    height: 45px;
  }
  .sub_container {
    margin-bottom: 00px;
  }
  .first_section {
    padding: 25px !important;

    h1 {
      text-align: center;
      span {
        font-size: 22px;
        letter-spacing: -1px;
        span {
          width: 50px;
          height: 10px;
        }
      }
    }
  }

  .last_section {
    padding: 25px !important;
    text-align: center;
    span {
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 0px;
      span {
        width: 50px;
        height: 15px;
        right: 10px !important;
      }
    }

    .last_section_sub_card {
      height: 200px;
      scale: 0.6;
      margin-block: -20px;
      .last_section_sub_card_title {
        font-size: 36px;
        line-height: 70px;
        max-width: none;
      }
      .last_section_sub_card_subtitle {
        font-size: 20px;
      }
    }
  }
  .hero {
    scale: 1;
    margin: 0;
    padding-top: 104px;
    padding-bottom: 52px;
    .leftSection {
      scale: 1;
      padding-inline: 25px;

      .headline {
        scale: 1;
        font-size: 26px;
        margin-top: 0px;
        font: normal normal 900 26px/28px Gotham;
        span {
          .mark1 {
            width: 100%;
          }
          .mark2 {
            width: 80%;
            left: 15px;
          }
        }
      }
      .smallParagraph {
        margin-top: 0;
        font-size: 14px;
      }
      .kmbtn {
        margin: 0;
        width: 90px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 12px;
          font-weight: 200;
          letter-spacing: 0;
          margin: 0;
          padding: 0;
        }
        a {
          div {
            display: none;
          }
        }
      }
    }
    div {
      .fourImages {
        display: none;
      }
      .rightSection {
        scale: 1;
        width: 150%;
        margin: 0;
        top: 80px;
        right: -50px;
        opacity: 1;
      }
    }
  }

  .partnersBackground {
    padding-inline: 24px !important;
    .partnersGroup {
      justify-content: space-between;
      width: 330px;

      * {
        padding: 0;
        height: 13px;
      }
    }
  }

  .about {
    flex-direction: column;

    .rightComp {
      padding-inline: 24px !important;
      h1 {
        scale: 1;
        margin-top: 0;
        font-size: 22px;
        span {
          font-size: 22px;
          span {
            width: 50%;
            height: 55%;
          }
        }
      }
      p {
        scale: 1;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .leftComp {
      margin-top: 20px !important;
      padding-inline: 24px !important;
      flex-direction: column;
      scale: 1;
      img {
        width: 100% !important;
        scale: 1;
      }
    }
  }

  .profile {
    padding-inline: 24px !important;
    .top {
      flex-direction: column;
      padding: 0;
      h1 {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -1px;
        span {
          span {
            width: 50%;
            height: 50%;
            bottom: -2px;
          }
        }
      }
      p {
        margin-top: 10px;
        font: normal normal normal 14px/20px Gotham;
      }
    }
    .bottom {
      padding: 0;
      .maskImage {
        width: 327px;
        height: 331px;
        .back {
          width: 95%;
        }
      }
    }
  }
  .scope {
    .head {
      scale: 0.6;
      margin: -20px;
    }
  }

  .ecommerce {
    flex-direction: column;
    padding-inline: 24px !important;

    * {
      scale: 1;
    }
    .ecommerce-left {
      padding: 0;
      img {
        scale: 1;
      }
    }

    .ecommerce-right {
      padding: 0 !important;
      h1 {
        padding-top: 0;
        font-size: 22px;
        line-height: 26px;

        span {
          span {
            width: 70%;
            height: 50%;
          }
        }
      }
    }
  }

  .epayment {
    flex-direction: column-reverse;
    padding-inline: 24px !important;

    * {
      scale: 1;
    }
    .epayment-right {
      padding: 0;
      img {
        scale: 1;
      }
    }

    .epayment-left {
      padding: 0 !important;
      h1 {
        padding-top: 0;
        font-size: 22px;
        line-height: 26px;

        span {
          span {
            width: 70%;
            height: 50%;
          }
        }
      }
    }
  }

  .articles {
    h1 {
      margin-block: 30px;

      scale: 0.6;
    }
    .tag > h1 {
      margin-block: 7px;
      scale: 1;
    }
    div {
      .swiper {
        margin-block: -75px;
        .swiper-slide {
          scale: 0.7;
          transform: translate(20px);
          * {
            font-size: 16px;
          }
          .title {
            font-size: 24px;
          }
        }
      }
    }
    .kmbtn {
      margin-top: 0px;
      scale: 0.8;
      margin-bottom: 30px;
    }
  }
  .subscribe {
    display: none;
  }

  .footer {
    padding: 25px;
    .fourcols {
      padding: 0;
      flex-direction: column;

      div {
        margin-block: 20px;
      }
    }
    .cw {
      padding: 0;
      * {
        font-size: 10px;
      }
    }
  }

  .positionSelectLabel {
    margin-top: 23px !important;

    margin-left: 8px;
  }

  .positionSelect {
    margin: 20px;
    margin-top: 36px !important;
    width: 100%;
  }

  .aboutUsPage {
    .about_section_bg {
      padding: 0;
    }
  }

  .page_header {
    .page_title {
      font-size: 26px;
      letter-spacing: -1.17px;
    }
    .breadcrumbs {
      font-size: 12px;
      padding: 12px;
    }
  }

  .outlet {
    padding: 0;
  }

  .stakeholders {
    flex-direction: column;
    background-image: radial-gradient(
      circle at 58% 45%,
      rgba(251, 237, 255, 20) 8%,
      rgba(255, 255, 255, 1) 18%,
      rgba(255, 255, 255, 1) 56%
    );
    border-radius: 0px 0px 80px 80px;

    .stakeholders-left {
      padding-inline: 25px;

      h1 {
        padding-top: 0;
        font-size: 26px;
        span {
          span {
            width: 45%;
            height: 50%;
          }
        }
      }
      .lp {
        font-size: 14px;
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
      }
    }
    .stakeholders-right {
      margin-inline: 0 !important;
      padding-inline: 25px;

      img {
      }
    }
  }

  .sub_container {
    .sub,
    .sub_inverted {
      flex-direction: column-reverse;
      padding-inline: 0px;
      padding-block: 30px;
      margin-inline: -25px;
      position: relative;
      .sub-right {
        width: 87%;
      }
      .sub-left {
        h1 {
          margin-top: 0;
          padding-top: 0;
        }

        h1 + .lg::before {
          .sub-right {
            .sub-right {
            }
          }
        }

        .lp {
          font-size: 14px;
          margin: 0;
          padding: 0;
          margin-bottom: 0px;
        }
      }
    }
  }

  .ourPartners {
    flex-direction: column;
    background-image: radial-gradient(
      circle at 58% 45%,
      rgba(251, 237, 255, 20) 8%,
      rgba(255, 255, 255, 1) 18%,
      rgba(255, 255, 255, 1) 56%
    );
    border-radius: 0px 0px 80px 80px;

    .ourPartners-left {
      padding-inline: 25px !important;

      h1 {
        padding-top: 0;
        font-size: 22px;
        span {
          span {
            width: 45%;
            height: 50%;
          }
        }
      }
      .lp {
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }
    .ourPartners-right {
      margin-inline: 0 !important;
      padding-inline: 25px;

      img {
        width: 100%;
      }
    }
  }

  .sub_container {
    .sub,
    .sub_inverted {
      flex-direction: column-reverse;
      padding-inline: 0px;

      .sub-right {
        scale: 0.9;
      }
    }
  }

  .contact_us_page {
    .cupbg {
      .cupage {
        padding-inline: 25px;
        .info {
          .head {
            h1 {
              font-size: 22px;
              letter-spacing: -1px;

              line-height: 1px;
              span {
                font-size: 22px;
                letter-spacing: -1px;

                span {
                  width: 50%;
                  height: 50%;
                }
              }
            }
          }
        }
        .formandinfo {
          flex-direction: column-reverse;
          .contactform {
            margin: 0;
            scale: 1;
            padding: 10px;
            height: 550px;
            width: 260px;
            img {
              width: 100%;
            }
            .head {
              h1 {
                font-size: 22px;
                letter-spacing: -1px;
                line-height: 1px;
                margin-top: 0;
                span {
                  font-size: 22px;
                  letter-spacing: -1px;

                  span {
                    width: 50%;
                    height: 50%;
                  }
                }
              }
            }
          }
        }
      }

      a {
        .map {
          scale: 0.78;
          left: -58%;
          bottom: -14%;
        }
      }
    }
  }
  .page_content {
    padding-inline: 25px !important;
    .blog_right {
      .search {
        margin-inline-start: 0px !important;
        width: 100%;
        input {
          width: 235px !important;
        }
        img {
          right: 25px !important;
        }
      }
      .categories {
        margin-left: 0 !important;
      }
      .keywords {
        margin-left: 0 !important;
      }
    }
    .blog_left {
      margin-top: 50px !important;
      padding-block: 0 !important;
      a {
        .post {
          scale: 0.68;
          transform: translate(-3px);
          margin-block: -50px;
          * {
            font-size: 16px;
          }
          .title {
            font-size: 24px;
          }
        }
      }
      div {
        .loadMoreBtn {
          margin-bottom: 50px;
        }
      }
    }
  }

  .head_bg {
    background-image: radial-gradient(
      circle at 58% 69%,
      rgba(251, 237, 255, 20) 8%,
      rgba(255, 255, 255, 1) 18%,
      rgba(255, 255, 255, 1) 56%
    );
    border-radius: 0px 0px 80px 80px;
  }

  .webinars {
    .webinar {
      flex-direction: column;
      height: 670px;
      width: 260px;
    }
  }
  .business_type_hero {
    flex-direction: column;
    margin: 0;
    padding-top: 15px;

    h1 {
      font-size: 24px;
      padding: 25px;
      padding-bottom: 0px;
    }
    .sp_lp {
      padding: 0px;
      margin-inline: 25px;
    }
  }

  .singleBT {
    .last_section {
      .sub,
      .sub_inverted {
        flex-direction: column;
        .sub-left {
          margin: 0;
          padding-inline: 25px !important;

          h1 {
            margin: 0px !important;
            margin-inline-end: 0px !important;
            line-height: 24px;
            max-width: fit-content;
            span {
              span {
                width: 50px;
                height: 15px;
                right: -5px !important;
              }
            }
          }
          .lp {
          }
        }

        .sub-right {
          padding-inline: 25px !important;
          img {
            scale: 1;
            margin: 0;
            margin-top: 20px;
            margin-bottom: -100px;
            width: 325px;
          }
        }
      }
    }
  }

  .media {
    flex-direction: column;
    align-items: center;
    margin-inline: 0px;
    .image_thumb_container {
      width: 325px;
      height: 325px;
      padding: 0;
    }
    .video_thumb_container {
      width: 325px;
      height: 325px;
      padding: 0;
    }
  }
  /*
  .smallParagraph {
    font-size: 36px;
  }

  

  .kmbtn {
    scale: 1.3;
    transform-origin: bottom left;
  }

  .partnersGroup > img {
    width: 120px;
    padding-inline-end: 30px;
  }

  .rightComp > h1 {
    font-size: 68px;
  }
  .rightComp > h1 > span {
    font-size: 100%;
  }
  .rightComp > h1 > span {
    font-size: 100%;
  }

  .rightComp > p {
    font-size: 150%;
    line-height: 120%;
  }

  .leftComp > img {
    width: 25% !important;
  }

  .leftComp > p {
    font-size: 22px !important;
    line-height: 26px !important;
  }

  .profile > .top > h1 {
    font-size: 52px;
    margin-inline-end: 50px;
  }

  .profile > .top > p {
    font-size: 28px;
    line-height: 32px;
  }
  .profile > .bottom {
    scale: 1.2;
    margin-block: 150px;
  }
  .maskImage {
    height: 280px;
  }

  .maskImage > p {
    font-size: 20px;
    line-height: 26px;
  }

  .scope > .head > h1 {
    font-size: 60px;
  }

  .scope > .head > h1 > span {
    font-size: 100%;
  }

  .scope > .cards {
    scale: 1.75;
    margin-block: 450px;
  }

  .ecommerce {
    align-items: flex-start;
  }

  .ecommerce-right > h1 {
    font-size: 42px;
    line-height: 42px;
  }

  .ecommerce-right > .sp {
    font-size: 28px;
    line-height: 32px;
  }

  .ecommerce-right > .lp {
    font-size: 28px;
    line-height: 32px;
    margin-left: -350px;
    max-width: none;
  }

  .ecommerce-right > .lmbtn {
    scale: 1.2;
    margin-left: -350px;
    transform-origin: left bottom;
  }

  .epayment {
    align-items: flex-start;
  }

  .epayment-left > h1 {
    font-size: 42px;
    line-height: 42px;
  }

  .epayment-left > .sp {
    font-size: 28px;
    line-height: 32px;
  }

  .epayment-left > .lp {
    font-size: 28px;
    line-height: 32px;
    margin-top: 50px;
    margin-right: -350px;
    max-width: none;
  }

  .epayment-left > .lmbtn {
    scale: 1.2;
    margin-right: -350px;
    transform-origin: left bottom;
  }

  .articles {
    margin-block: 50px;
  }

  .articles > h1 {
    font-size: 50px;
  }

  .articles > div > div > div {
    scale: 2;
    margin-block: 50px;
  }
  .articles > div > div > div > div > .post {
    scale: 0.5;
  }

  .lp {
    font-size: 24px !important;
    line-height: normal !important;
  }

  .breadcrumbs {
    font-size: 20px;
  }

  .page_title {
    font-size: 45px;
  }

  .subscribe {
    display: none;
  }

  .footer > .fourcols {
    display: none;
  }

  .footer > .cw * {
    font-size: 22px;
    padding-block: 15px;
  }
  */
}
