.solution {
  margin-block: 170px;
  margin-inline: 315px;
}

.solution_title_and_desc {
  display: flex;
}

.solution_title {
  font-size: 45px;
  letter-spacing: -2px;
  line-height: 50px;
  font-weight: 600;
}

.solution_title > span {
  position: relative;
  z-index: 0;
}

.solution_title > span > span {
  position: absolute;
  background-color: #0093de;
  opacity: 55%;
  height: 20px;
  width: 102.5px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.solution_desc {
  margin-inline-start: 126px;
  color: #2a2a2a;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  font-weight: 500;
  max-width: 674px;
}

.solution_subs {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 55px;
  justify-content: center;
  padding-top: 50px;
}

.border {
  width: 183px;
  height: 179px;
  background: transparent linear-gradient(180deg, #0034de 0%, #0093de 100%) 0%
    0% no-repeat padding-box;
  border-radius: 60px 20px;
  margin: 34px;
  padding: 2px;
}
.solution_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 183px;
  height: 179px;
  background-color: #f0f6ff;
  border-radius: 60px 20px;
}

.solution_sub > img {
  margin-block: 30px;
  height: 56px;
}

.solution_sub > div {
  align-self: center;
  text-align: center;
  color: #2a2a2a;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  max-width: 150px;
}

.bosta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-block: 100px;
  margin-block-end: 170px;
}

.bosta > .bosta_bg {
  position: absolute;
  height: 90%;
}

.bosta > h1 {
font-size: 38px;
letter-spacing: -1.7px;
font-weight: 600;
text-align: center;
margin: 0;
}
 

.bosta > p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  margin-block: 25px;
  max-width: 649px;
  
  }
   