.about_us_page{
    margin-top: 95px;

}


.page_header {
    text-align: center;
}


.page_title{
    font-size: 55px;
    font-weight: 600;
    letter-spacing: -2.48px;
}

.breadcrumbs {
display: flex;
justify-content: center;
padding-top: 8px;
padding-bottom: 70px;
}


.breadcrumbs > a {
    color: #656565;
    font-size: 14px;
    text-decoration: none;
}

.breadcrumbs > div {
    padding-inline: 8px;
    color: #656565;
    font-size: 14px;
    text-decoration: none;
}