.footer {
  background-color: white;
}

.footer > .fourcols {
  display: flex;
  padding-inline: 400px;
  padding-top: 70px;
  padding-bottom: 70px;
  justify-content: space-between;
}

.footer > .fourcols > div > p {
  margin-top: 22px;
  color: #2a2a2a;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  max-width: 208px;
}

.footer > .fourcols > div > p > a {
  text-decoration: none;
  color: #027ab7;
  padding-inline-start: 12px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  max-width: 208px;
}
.footer > .fourcols > div > .socialmedia {
  display: flex;
  margin-top: 42px;
}
.footer > .fourcols > div > .socialmedia > a {
  padding-inline-end: 10px;
}
.footer > .fourcols > div > .footertitle {
  position: relative;
  color: #2a2a2a;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 27px;
  z-index: 1;
}
.footer > .fourcols > div > .footertitle > span {
    position: absolute;
    background-color: #0093de;
    opacity: 55%;
    height: 9px;
    width: 56px;
    bottom: 1px;
    right: 0px;
    z-index: -1;        
}

.footer > .fourcols > div >.links {
    margin-top: 27px;
}

.footer > .fourcols > div >.links> div{
    margin-bottom: 15px;
    display: flex;

}

.footer > .fourcols > div >.links> div >a {
    color: #2A2A2A;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer > .fourcols > div >.links> div>img  {
    padding-inline-end:8px ;
    height: 0%
}
.footer > .fourcols > div >.links> div>.em  {
    padding-top:3px ;
}

.divider {
    background-color:#F0F6FF;
    height: 1px;
}

.cw {
    display: flex;
    padding: 30px 400px;
    justify-content: space-between;
}
.cw > div {
    color:#656565;
    font-size: 16px;
    font-weight: 400;
}
.cw > span > a {
    color:#656565;
    padding-inline-start: 20px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
}