.header {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 40px;
  padding-inline: 100px;
  align-items: center;
  font-family: Gotham-Bold;
}

.nav-list {
  flex: 40%;
  text-align: left;
}
p {
  display: inline-block;
}

.logo {
  flex: 20%;
  text-align: center;
}
.logo-img {
  width: 40%;
}
.contact-us {
  flex: 40%;
  text-align: right;
}
.btn {
  width: 120px;
  height: 40px;
  background: linear-gradient(to left, #0093de, #3c6fae);
  color: white;
  border-radius: 30px;
  border-style: hidden;
  opacity: 1;
  font-family: Gotham-Bold;
  font-weight: bold;
}
