.header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 65px;
  text-align: center;
}

.nav-list {
  flex: 40%;
}

.nav-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-list > li {
  float: left;
}
.nav-list > li> a {
    
}

.logo {
  flex: 30%;
}

.contact-us-container {
  flex: 40%;
}
